<div class="mapa-centros-container">
  <div class="filters">
    <select [(ngModel)]="provinciaSeleccionada" (change)="actualizarTiposCentro()">
      <option value="">Provincia</option>
      <option *ngFor="let prov of provincias" [value]="prov">{{prov}}</option>
    </select>
    
    <select [(ngModel)]="tipoCentroSeleccionado" (change)="actualizarMunicipios()">
      <option *ngFor="let tipo of tiposCentroGlobal" [value]="tipo.value">{{ tipo.label }}</option>
    </select>
    
    <select [(ngModel)]="municipioSeleccionado" (change)="actualizarFamilias()">
      <option value="">Municipio</option>
      <option *ngFor="let muni of municipios" [value]="muni">{{muni}}</option>
    </select>
    
    <select [(ngModel)]="familiaSeleccionada" (change)="actualizarCiclos()">
      <option value="">Familia profesional</option>
      <option *ngFor="let fam of familiasProfesionales" [value]="fam">{{fam}}</option>
    </select>
    
    <select [(ngModel)]="cicloSeleccionado">
      <option value="">Ciclo</option>
      <option *ngFor="let ciclo of ciclos" [value]="ciclo.codigo">{{ciclo.nombre}}</option>
    </select>
    
  </div>
  <div id="map" class="mapdiv"></div>
  <div id="popup" class="ol-popup"></div>
</div>


